<tr>
  <td align="left" class="mWidth section-title align-left">
    <h2>COLUMN WITH ONE ITEM</h2>
  </td>
</tr>
<tr>
  <td class="mWidth section-content">
  <img src="http://placehold.it/610x250" width="610" height="250" alt="Placeholder image" class="mFullImage">
  </td>
</tr>
<tr>
  <td align="left" class="mWidth section-content align-left">
    <h3><a href="#">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper mollis libero, eu sollicitudin lectus volutpat vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit ac felis faucibus, ac ullamcorper diam semper. Cras non sapien sapien.</p>  
  </td>
</tr>