<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

  {% include head.html %}

  <body>
  	<!-- LOGO AND TITLE -->
	  <table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#f2f5f8">
	  	<tbody>
	  	<tr>
	  		<td class="main" width="640" class="mWidth">
	  			<table cellspacing="0" cellpadding="0" border="0" align="center" width="640">
	  				<tbody>
	  					<tr>
	  						<td class="full-width mWidth" width="640"><img src="http://luckyluke007.github.io/ucsc-email-templates/build/assets/logo.png" class="logo" alt="University of California, UC Santa Cruz"></td>
	  					</tr>
	  				</tbody>
	  			</table>
	  		</td>
	  	</tr>
	  	</tbody>
	  </table>
	  <!-- END LOGO AND TITLE -->
	  <!-- EMAIL -->
	  <table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#f2f5f8">
	  	<tbody>
	  	<tr>
	  		<td class="main" width="640" class="mWidth">
	  			<table cellspacing="0" cellpadding="0" border="0" align="center" width="640">
	  				<tbody>
	  					<tr>
	  						<td class="full-width title mWidth" width="640"><h1 class="header">Email Title</h1></td>
	  					</tr>
	  				</tbody>
	  			</table>
	  		</td>
	  	</tr>
	  	</tbody>
	  </table>
	  <!-- END EMAIL TITLE -->
	  <!-- MAIN PHOTO -->
	  <table cellspacing="0" cellpadding="0" border="0" align="center" width="640">
	  	<tbody>
	  	<tr>
	  		<td class="main" width="640" class="mWidth">
	  		   <img src="http://luckyluke007.github.io/ucsc-email-templates/build/assets/photo-640x325.jpg" alt="Banana Slug in a suit" class="mWidth" width="640" height="325">
	  		</td>
	  	</tr>
	  	</tbody>
	  </table>
	  <!-- END MAIN PHOTO -->
  </body>

</html>
