<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

  {% include head.html %}

  <body>
  	<table align="center" border="0" cellpadding="0" cellspacing="0" width="640" bgcolor="#f2f5f8" class="main">
      <!-- LOGO -->
  		<tr>
  			<td class="logo">
						<img src="http://luckyluke007.github.io/ucsc-email-templates/build/assets/logo.png" alt="University of California, UC Santa Cruz">
  			</td>
  		</tr>
      <!-- END LOGO -->
      <!-- EMAIL TITLE -->
      <tr>
        <td class="title">
          <h1>Email Title</h1>
        </td>
      </tr>
      <!-- END EMAIL TITLE -->
      <!-- INTRO STORY -->
      <tr>
        <td class="full-width">
          <img src="http://luckyluke007.github.io/ucsc-email-templates/build/assets/photo-640x325.jpg" alt="Banana Slug in a suit" class="mWidth" width="640" height="325">
        </td>
      </tr>
      <tr>
        <td class="content">
          <h2><a href="#">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper mollis libero, eu sollicitudin lectus volutpat vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit ac felis faucibus, ac ullamcorper diam semper. Cras non sapien sapien.</p>  
        </td>
      </tr>
      <!-- END INTRO STORY -->
      <!-- ALSO FEATURED -->
      <tr>
        <td class="full-width section-title">
          <h2>ALSO FEATURED</h2>
        </td>
      </tr>
      <tr>
        <td class="section-content">
        <!-- LEFT COLUMN -->
         <table align="left" border="0" cellpadding="0" cellspacing="0" width="45%">
           <tbody>
             <tr>
               <td>
                 <img src="http://placehold.it/300x150" width="300" height="150" alt="Placeholder image">
               </td>
             </tr>
             <tr>
               <td>
                 <h3><a href="#">Neque porro quisquam est qui dolorem ipsum quia </a></h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper mollis libero, eu sollicitudin lectus volutpat vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit ac felis faucibus, ac ullamcorper diam semper. Cras non sapien sapien.</p>
               </td>
             </tr>
           </tbody>
         </table>
        <!-- LEFT COLUMN -->
        <!-- RIGHT COLUMN -->
         <table align="right" border="0" cellpadding="0" cellspacing="0" width="45%">
           <tbody>
             <tr>
               <td>
                 <img src="http://placehold.it/300x150" width="300" height="150" alt="Placeholder image">
               </td>
             </tr>
             <tr>
               <td>
                 <h3><a href="#">Neque porro quisquam est qui dolorem ipsum quia </a></h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper mollis libero, eu sollicitudin lectus volutpat vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit ac felis faucibus, ac ullamcorper diam semper. Cras non sapien sapien.</p>
               </td>
             </tr>
           </tbody>
         </table>
        <!-- RIGHT COLUMN -->
        </td>
      </tr>
      <!-- END ALSO FEATURED -->
  	</table>
  </body>

</html>
