<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

	  <table cellspacing="0" cellpadding="0" border="0" align="center">
	  	<tbody>
	  	<tr>
	  		<td class="main" width="640" class="mWidth">
	  			<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
	  				<tbody>
	  					<tr>
	  						<td class="full-width">{% image 'logo.png' alt="UC Santa Cruz" %}</td>
	  						<td class="full-width title"><h1>Email Title</h1></td>
	  					</tr>
	  				</tbody>
	  			</table>
	  		</td>
	  	</tr>
	  	</tbody>
	  </table>

  </body>

</html>
