<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

  {% include head.html %}

  <body>
  	<table align="center" border="0" cellpadding="0" cellspacing="0" width="640" bgcolor="#f2f5f8" class="main">
      
      <!-- LOGO -->
      {% include mods/mod-logo.html %}
      <!-- END LOGO -->
      
      <!-- EMAIL TITLE -->
      {% include mods/mod-email-title.html %}
      <!-- END EMAIL TITLE -->
      
      <!-- FULL WIDTH -->
      {% include mods/mod-full-width-center.html %}
      <!-- END FULL WIDTH -->


      <tr>
        <td class="separator">
          &nbsp;
        </td>
      </tr>

      <!-- FULL COLUMN TEXT CENTER -->
      {% include mods/mod-full-col-text.html %}
      <!-- END FULL COLUMN TEXT CENTER -->

      <!-- ROW 30/70 WIDTH -->
      {% include mods/mod-50-50.html %}
      <!-- END ROW 30/70 WIDTH -->

      <!-- ROW 30/70 WIDTH -->
      {% include mods/mod-50-50.html %}
      <!-- END ROW 30/70 WIDTH -->

      <!-- ROW 30/70 WIDTH -->
      {% include mods/mod-50-50.html %}
      <!-- END ROW 30/70 WIDTH -->

      <!-- CAMPAIGN -->
      <tr>
        <td align="center" class="spacing-footer spacing-bottom mWidth">
          <a href="http://campaign.ucsc.edu"><img src="https://adminlb.imodules.com/s/1069/images/editor/mobile-placeholder-images/campaign-ucsc.png" alt="The Campaign for UC Santa Cruz" border="0"></a>
        </td>
      </tr>
      <!-- END CAMPAIGN -->
      
      <!-- YEAH THE FOOTER IS THE END OF THIS EMAIL -->
      {% include mods/mod-footer-socials.html %}
  </body>

</html>
