<tr>
  <td class="mWidth ucsc-yellow-title section-title align-left">
    <h2>FULL COLUMN 50/50</h2>
  </td>
</tr>
<tr>
  <td class="mWidth section-content spacing-content-only">
  <table align="left" border="0" cellspacing="0" cellpadding="0" width="250" class="mWidth">
    <tr>
      <td class="mWidth">
        <img src="http://placehold.it/250x185" align="left" width="250" height="185" alt="Placeholder image" class="mFullImage">
      </td>
    </tr>
  </table>

  <table align="right" border="0" cellspacing="0" cellpadding="0" width="340" class="mWidth">
    <tr>
      <td class="mWidth ucsc-title spacing-top align-left">
        <h3 class="title"><a href="#">Neque porro quisquam est qui dolorem ipsum quia</a></h3>
      </td>
    </tr>
    <tr>
      <td class="mWidth uscc-text spacing-top align-left content-text">
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper mollis libero, eu sollicitudin lectus volutpat vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit ac felis faucibus, ac ullamcorper diam semper. Cras non sapien sapien.</p>
      </td>
    </tr>
  </table>
  </td>
</tr>