<!-- <tr>
  <td class="mWidth section-title">
    <h2>FULL WIDTH</h2>
  </td>
</tr>
-->
<tr>
  <td class="mWidth">
  <img src="http://placehold.it/640x250" width="640" height="250" alt="Placeholder image" class="mFullImage">
  </td>
</tr>
<tr>
  <td align="center" class="mWidth ucsc-title section-content title">
    <h3><a href="#">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</a></h3>
  </td>
</tr>
 <tr>
  <td align="center" class="mWidth section-content content-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper mollis libero, eu sollicitudin lectus volutpat vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit ac felis faucibus, ac ullamcorper diam semper. Cras non sapien sapien.</p>  
  </td>
</tr>