<tr>
  <td align="left" class="mWidth section-title align-left">
    <h2>ALSO FEATURED</h2>
  </td>
</tr>
<tr>
  <td class="section-content">
  <!-- LEFT COLUMN -->
   <table align="left" border="0" cellpadding="0" cellspacing="0" width="295" class="mWidth">
     <tbody>
       <tr>
         <td class="mWidth">
           <img src="http://placehold.it/295x200" width="295" height="200" alt="Placeholder image" class="mFullImage">
         </td>
       </tr>
       <tr>
         <td align="left" class="mWidth align-left">
           <h3><a href="#">Neque porro quisquam est qui dolorem ipsum quia </a></h3>
         </td>
       </tr>
       <tr>
         <td align="left" class="mWidth align-left">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper mollis libero, eu sollicitudin lectus volutpat vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit ac felis faucibus, ac ullamcorper diam semper. Cras non sapien sapien.</p>
         </td>
       </tr>
     </tbody>
   </table>
  <!-- LEFT COLUMN -->
  <!-- RIGHT COLUMN -->
   <table align="right" border="0" cellpadding="0" cellspacing="0" width="295" class="mWidth">
     <tbody>
       <tr>
         <td class="mWidth">
           <img src="http://placehold.it/295x200" width="295" height="200" alt="Placeholder image" class="mFullImage">
         </td>
       </tr>
       <tr>
         <td align="left" class="mWidth align-left">
           <h3><a href="#">Neque porro quisquam est qui dolorem ipsum quia </a></h3>
         </td>
       </tr>
       <tr>
         <td align="left" class="mWidth align-left">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper mollis libero, eu sollicitudin lectus volutpat vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit ac felis faucibus, ac ullamcorper diam semper. Cras non sapien sapien.</p>
         </td>
       </tr>
     </tbody>
   </table>
  <!-- RIGHT COLUMN -->
  </td>
</tr>