<tr>
  <td class="full-width mWidth">
    <img src="http://luckyluke007.github.io/ucsc-email-templates/build/assets/photo-640x325.jpg" alt="Banana Slug in a suit" width="640" height="325" class="mFullImage">
    <!-- ASSET INTRO IMAGE 
    {% image "photo-640x325.jpg" %}
    -->
  </td>
</tr>
<tr>
  <td align="left" class="mWidth content align-left">
    <h2><a href="#">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</a></h2>
  </td>
</tr>  
<tr>
  <td align="left" class="mWidth section-content align-left">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper mollis libero, eu sollicitudin lectus volutpat vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit ac felis faucibus, ac ullamcorper diam semper. Cras non sapien sapien.</p>
  </td>
</tr>