body,
html {
	color: #444;
	font-family: $font-sans;
	line-height: 20px;
	margin: 10px 0;
	padding: 0;
}

table, td {
	border-collapse: collapse !important;
}

img {
	display: block;
}

.logo {
	padding: 15px;
}

a,
a:active {
	color: $brand-blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
