body,
html {
	color: $light-gray;
	font-family: $font-sans;
	line-height: 20px;
	margin: 10px 0;
	padding: 0;
}

table, td {
	border-collapse: collapse !important;
}

img {
	display: block;
}

.logo {
	padding: 15px;
}

a,
a:active {
	color: $brand-blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.spacing-top {
	padding-bottom: 5px;
	padding-top: 10px;
}

.spacing-top-bottom {
	padding-top: 5px;
	padding-bottom: 5px;
}

.spacing-bottom {
	padding-bottom: 15px;
}

.spacing-left {
	padding-left: 10px
}

.spacing-right {
	padding-right: 10px;
}

.large-spacing-right {
	padding-right: 15px;
}

.large-spacing-left {
	padding-left: 15px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}