body,
html {
	color: $dark-gray;
	font-family: $font-sans;
	line-height: 20px;
	margin: 10px auto;
	padding: 0;
}

table, td {
	border-collapse: collapse !important;
	font-family: $font-sans;
}

table {
	mso-table-lspace: 0pt; 
	mso-table-rspace: 0pt;
}

.layout-fixed {
	table-layout: fixed;
	margin: 0 auto;
}

.block {
	display: block !important;
}

img {
	display: block;
	padding-bottom: 5px;
}

.logo {
	padding: 15px;
}

.logo-blue {
	background: $brand-blue;
	padding: 15px;
}


a,
a:active {
	color: $brand-blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.spacing-top {
	padding-bottom: 5px;
	padding-top: 10px;
}

.large-spacing-top {
	padding-bottom: 5px;
	padding-top: 20px;
}

.spacing-top-bottom {
	padding-top: 5px;
	padding-bottom: 5px;
}

.spacing-bottom {
	padding-bottom: 15px;
}

.spacing-left {
	padding-left: 10px
}

.spacing-right {
	padding-right: 10px;
}

.spacing-right-column {
	padding: 10px 0 5px 5px;
}

.large-spacing-right {
	padding-right: 15px;
}

.large-spacing-left {
	padding-left: 15px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}