.main {
	background: $background;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 640px;
}

.full-width {
	padding: 0;
}

.content {
	padding: 10px 20px;
}

.title {
	background: $brand-blue;
	color: $brand-gold;
	padding: 10px 15px;
	width: 640px;
}

.section-title {
	border-bottom: 2px solid $brand-gold;
	color: $brand-gold;
}

.sub-section-title {
	//border-bottom: 2px solid $brand-gold;
	color: $brand-gold;
}


.section-content {
	padding: 0 15px;
}

.section-content h3,
.section-content p {
	margin: 0;
}

.section-content h3 {
	padding: 10px 0;
}

.section-content p {
	padding: 0 0 18px;
}

.left-column {
	border-right: 1px solid $brand-gold;
	padding: 0 10px 0 0;
}

.right-column {
	padding: 0;
}

.right-column strong {
	display: block;
	padding: 5px 0;
}

.right-column .separator {
	border-bottom: 1px solid $brand-blue;
	font-weight: 500;
	padding: 10px 0 5px;
	text-align: right;
}
