.main {
	background: $background;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 640px;
}

.full-width {
	padding: 0;
}

.content {
	padding: 10px 20px;
}

.caption {
	padding: 5px 15px;
}

.section-content {
	color: $dark-gray;
	font-family: $font-sans;
	padding-left: 15px;
	padding-right: 15px;
}

.section-content h3,
.section-content p {
	margin: 0;
}

.section-content h3 {
	padding: 0;
}

.section-content p {
	padding: 5px 0 10px;
}

.section-content .left-column {
	//border-right: 1px solid $brand-gold;
	padding-right: 10px;
}

.section-content .right-column {
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 0;
	padding-top: 10px;
}

.section-content .right-column .event-title {
	display: block;
	font-weight: 500;
	padding: 10px 0 5px;
}

// Borders
.separator {
	border-bottom: 1px solid $brand-blue;
	font-weight: 500;
	padding: 5px 0 10px;
	text-align: right;
}

.separator-bottom {
	border-top: 1px solid $brand-blue;
	font-weight: 500;
	padding: 0 0 5px;
	text-align: right;
}

.border-top {
	border-top: 1px solid $brand-blue;
}

.footer-title {
	border-bottom: 1px $brand-blue dotted;
	color: $brand-blue;
	padding: 10px 0;
	text-transform: uppercase;
}

.end-border {
	border-bottom: 3px $brand-blue solid;
}
