.main {
	background: $background;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 640px;
}

.full-width {
	padding: 0;
}

.content {
	padding: 10px 20px;
}

.section-content {
	padding: 0 15px;
}

.section-content h3,
.section-content p {
	margin: 0;
}

.section-content h3 {
	padding: 0;
}

.section-content p {
	padding: 5px 0 10px;
}

.section-content .left-column {
	border-top: 1px solid $brand-blue;
	border-right: 1px solid $brand-gold;
	padding-right: 10px;
}

.section-content .right-column {
	padding: 0;
}

.spacing-top {
	padding: 10px 0 5px;
}

.spacing {
	padding: 5px 0;
}

.spacing-bottom {
	padding: 0 0 15px;
}

.section-content .right-column .event-title {
	display: block;
	font-weight: 500;
	padding: 10px 0 5px;
}

.separator {
	border-bottom: 1px solid $brand-blue;
	font-weight: 500;
	padding: 10px 0 5px;
	text-align: right;
}
