.main {
	background: $background;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 640px;
}

.full-width {
	padding: 0;
}

.content {
	padding: 15px;
}

.title {
	background: $brand-blue;
	color: $brand-gold;
	padding: 10px 15px;
	width: 640px;
}