html,
body {
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	line-height: 1.25em;
}

h1 {
	font-size: $font-h1;
	margin: 0;
}

h2 {
	font-size: $font-h2;
	margin: 0;
}

h3 {
	font-size: $font-h3;
}

h4 {
	font-size: $font-h4;
}

h5 {
	font-size: $font-h5;
}

h4 {
	font-size: $font-h6;
}

p {
	font-size: 16px;;
}

.title {
	background: $brand-blue;
	color: $brand-gold;
	padding: 10px 15px;
	width: 640px;
}

.section-title {
	border-bottom: 2px solid $brand-gold;
	color: $brand-gold;
	margin: 0;
	padding: 20px 15px 5px;
	text-transform: uppercase;
}

.sub-section-title {
	color: $brand-gold;
	margin: 0;
	padding: 15px 0 0;
}

.right-title {
	color: $brand-gold;
	text-transform: uppercase;
}

.footer-title {
	background: $brand-blue;
	border-bottom: 1px $brand-blue dotted;
	color: $brand-gold;
	padding: 10px 15px;
	width: 640px;
	text-transform: uppercase;
}
