html,
body {
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	line-height: 1.25em;
}

h1,
.ucsc-email-title {
	font-size: $font-h1;
	margin: 0;
}

h2,
.ucsc-yellow-title {
	font-size: $font-h2;
	margin: 0;
}

h3,
.ucsc-title {
	font-size: $font-h3;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

h4 {
	font-size: $font-h4;
}

h5 {
	font-size: $font-h5;
}

h4 {
	font-size: $font-h6;
}

p .p1 {
	text-align: inherit;
}

p,
span,
div {
	line-height: 22px;
	padding: 0 0 16px;
}


.uppercase {
	text-transform: uppercase;
}

.email-title {
	color: $black;
	padding: 0 15px 10px;
}

.title {
	color: $black;
	padding: 0 0 10px;
}

.section-title {
	border-bottom: 2px solid $brand-gold;
	color: $brand-gold;
	margin: 0;
	padding: 20px 15px 5px;
	text-transform: uppercase;
}

.sub-section-title {
	color: $brand-gold;
	margin: 0;
	padding: 15px 0 0;
}

.right-title {
	color: $brand-gold;
	text-transform: uppercase;
}

.footer-title h3 {
	color: $brand-blue;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

.caption-text {
	color: $dark-gray;
	font-size: $caption-size;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}