// BREAKPOINT

$mobile: new-breakpoint(max-width 600px 4);

// FONTS
$font-serif: 'Linux Libertine';
$font-sans: 'Helvetica Neue', Arial, Helvetica, sans-serif;

// FONT-SIZES

$font-h1: 32px;
$font-h2: 24px;
$font-h3: 19px;
$font-h4: 16px;
$font-h5: 14px;
$font-h6: 13px;
$stand-size: 13px;
// COLORS

$brand-blue: #00458c;
$brand-gold: #ffc500;

$background: #f2f6fa;

$dark-gray: #333;
$light-gray: #bcc1c2;
$dark-blue: #005c9f;
$green: #afc930;
$orange: #e37526;
$gold: #f7c902;
$black: #000;
$white: #fff;